# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

#Custom Ignore
*.tlog
*.ipch

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
*.vspx
Roller Coaster1.psess
Roller Coaster.psess
*.log
*.log
*.pdb
Roller Coaster/x64/Debug/vc141.pdb
Roller Coaster/x64/Debug/Square.obj
Roller Coaster/x64/Debug/Square.obj
Roller Coaster/x64/Debug/Square.obj
Roller Coaster/Roller Coaster.vcxproj
Roller Coaster/x64/Debug/Water.obj
Roller Coaster/x64/Debug/vector.obj
Roller Coaster/x64/Debug/Triangle.obj
Roller Coaster/x64/Debug/TrainView.obj
Roller Coaster/x64/Debug/Track.obj
Roller Coaster/x64/Debug/TGATexture.obj
Roller Coaster/x64/Debug/Square.obj
Roller Coaster/x64/Debug/Skybox.obj
Roller Coaster/x64/Debug/Roller Coaster.log
Roller Coaster/x64/Debug/Roller Coaster.Build.CppClean.log
Roller Coaster/x64/Debug/qrc_AppMain.obj
Roller Coaster/x64/Debug/Pnt3f.obj
Roller Coaster/x64/Debug/Mountain.obj
Roller Coaster/x64/Debug/Model.obj
Roller Coaster/x64/Debug/moc_TrainView.obj
Roller Coaster/x64/Debug/moc_AppMain.obj
Roller Coaster/x64/Debug/main.obj
Roller Coaster/x64/Debug/GerstnerWater.obj
Roller Coaster/x64/Debug/ControlPoint.obj
Roller Coaster/x64/Debug/CBMPLoader.obj
Roller Coaster/x64/Debug/ArcBallCam.obj
Roller Coaster/x64/Debug/AppMain.obj
Roller Coaster/x64/Debug/3DUtils.obj
Roller Coaster/x64/Debug/3DSLoader.obj
Roller Coaster/x64/Debug/AppMain.obj
Roller Coaster/x64/Debug/main.obj
Roller Coaster/x64/Debug/moc_AppMain.obj
Roller Coaster/x64/Debug/moc_TrainView.obj
Roller Coaster/x64/Debug/Model.obj
Roller Coaster/x64/Debug/Roller Coaster.log
Roller Coaster/x64/Debug/TrainView.obj
Roller Coaster/x64/Debug/main.obj
Roller Coaster/x64/Debug/moc_AppMain.obj
Roller Coaster/x64/Debug/moc_TrainView.obj
Roller Coaster/x64/Debug/Model.obj
Roller Coaster/x64/Debug/Mountain.obj
Roller Coaster/x64/Debug/Roller Coaster.log
Roller Coaster/x64/Debug/Skybox.obj
Roller Coaster/x64/Debug/TrainView.obj
Roller Coaster/x64/Debug/AppMain.obj
x64/Debug/Roller Coaster.exe
x64/Debug/Roller Coaster.ilk
x64/Debug/Roller Coaster.pdb
Roller Coaster/x64/Debug/3DSLoader.obj
Roller Coaster/x64/Debug/3DUtils.obj
Roller Coaster/x64/Debug/AppMain.obj
Roller Coaster/x64/Debug/ArcBallCam.obj
Roller Coaster/x64/Debug/CBMPLoader.obj
Roller Coaster/x64/Debug/ControlPoint.obj
Roller Coaster/x64/Debug/main.obj
Roller Coaster/x64/Debug/moc_AppMain.obj
Roller Coaster/x64/Debug/moc_TrainView.obj
Roller Coaster/x64/Debug/Mountain.obj
Roller Coaster/x64/Debug/Model.obj
Roller Coaster/x64/Debug/Pnt3f.obj
Roller Coaster/x64/Debug/qrc_AppMain.obj
Roller Coaster/x64/Debug/Skybox.obj
Roller Coaster/x64/Debug/Square.obj
Roller Coaster/x64/Debug/StarRing.obj
Roller Coaster/x64/Debug/TGATexture.obj
Roller Coaster/x64/Debug/Tire.obj
Roller Coaster/x64/Debug/Track.obj
Roller Coaster/x64/Debug/Triangle.obj
Roller Coaster/x64/Debug/TrainView.obj
Roller Coaster/x64/Debug/vector.obj
Roller Coaster/x64/Debug/Water.obj
x64/Debug/Object/rock.obj
x64/Debug/Roller Coaster.ilk
x64/Debug/Roller Coaster.pdb
